

body{
    background-color: rgb(247, 205, 39);

}
div{
    text-align: center;

}
h1{
    color: rgb(17, 15, 14);
}
h3{
    color: #801111;
}
.inpu{
height: 2rem;
width: 20rem;
}
.but{
height: 2rem;
width: 6rem;
}